#footer {
  position: relative;
  min-height: 30vh;
  z-index: 20;
  background: url(../assets//time-bg.png);
  > .container {
    > .fs-container {
      width: 450px;
      > a > img {
        width: 100px;
      }
    }
    > .cxi-container {
      width: 450px;
      > a > img {
        width: 200px;
      }
    }
  }
}
