#navbar {
}
.navScroll {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(19.4px);
  -webkit-backdrop-filter: blur(19.4px);
}
#navbarTab{
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(19.4px);
  -webkit-backdrop-filter: blur(19.4px);
}
