#navbar {
  z-index: 100;
  // > .navbar-container {
  //   background: rgba(255, 255, 255, 0.03);
  //   backdrop-filter: blur(19.4px);
  //   -webkit-backdrop-filter: blur(19.4px);
  // }
  .navbarTab {
    > .btn1 {
      width: 175px;
      height: 57px;
      transition: 0.5s;
      font-size: 17px;
      border: none;
      color: #fff;
      border-radius: 40px;
      background: rgb(0, 108, 233);
      background: linear-gradient(
        90deg,
        rgba(0, 108, 233, 0.5592830882352942) 0%,
        rgba(134, 148, 229, 1) 100%
      );
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15.6px);
      -webkit-backdrop-filter: blur(15.6px);
    }
    //button2
    .btn2 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 10px 30px;
      transition: 0.5s;
      position: relative;
      font-size: 17px;
      background: #333;
      border: none;
      color: #fff;
    }

    .btn2:hover {
      // letter-spacing: 0.25em;
      background: #004cbd;
      color: #004cbd;
      box-shadow: 0 0 45px #004cbd;
    }

    .btn2::before {
      content: "";
      position: absolute;
      inset: 2px;
      background: #222222;
    }

    .btn2 span {
      position: relative;
      z-index: 1;
    }

    .btn2 i {
      position: absolute;
      inset: 0;
      display: block;
    }

    .btn2 i::before {
      content: "";
      position: absolute;
      border: 2px solid #004cbd;
      width: 7px;
      height: 4px;
      top: -3.5px;
      left: 80%;
      background: #222222;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    .btn2:hover i::before {
      width: 20px;
      left: 20%;
    }

    .btn2 i::after {
      content: "";
      position: absolute;
      border: 2px solid #004cbd;
      width: 7px;
      height: 4px;
      bottom: -3.5px;
      left: 20%;
      background: #222222;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    .btn2:hover i::after {
      width: 20px;
      left: 80%;
    }
  }
  .nav_scroll {
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
  }
}
@media screen and (max-width: 768px) {
  #navbar {
    > .navbar-container {
      background: rgba(255, 255, 255, 0.03);
      // backdrop-filter: blur(19.4px);
      // -webkit-backdrop-filter: blur(19.4px);
      > .navbarTab {
        height: 400px;
        padding: 10px;
        // background: linear-gradient(
        //   178.1deg,
        //   rgba(0, 108, 233,0.8) 8.5%,
        //   rgb(23, 20, 69) 82.4%
        // );
        background: rgba(255, 255, 255, 0.03);
        backdrop-filter: blur(19.4px);
        -webkit-backdrop-filter: blur(19.4px);
        // color: aqua;
      }
    }
  }
}
