#navbar {
  z-index: 100;
  // > .navbar-container {
  //   background: rgba(255, 255, 255, 0.03);
  //   backdrop-filter: blur(19.4px);
  //   -webkit-backdrop-filter: blur(19.4px);
  // }
  .navbarTab {
    > button {
      width: 175px;
      height: 57px;
      transition: 0.5s;
      font-size: 17px;
      border: none;
      color: #fff;
      border-radius: 40px;
      background: rgb(0, 108, 233);
      background: linear-gradient(
        90deg,
        rgba(0, 108, 233, 0.5592830882352942) 0%,
        rgba(134, 148, 229, 1) 100%
      );
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(15.6px);
      -webkit-backdrop-filter: blur(15.6px);
    }
  }
}
@media screen and (max-width: 768px) {
  #navbar {
    > .navbar-container {
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(19.4px);
      -webkit-backdrop-filter: blur(19.4px);
      > .navbarTab {
        height: 400px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.09);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(10px);
      }
    }
  }
}
