#Register {
  background: url(../assets/time-bg.png);
  min-height: 50vh;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  > .timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    z-index: 10;
    > .timer-heading {
      text-align: center;
      font-size: 2rem;
    }
    > .timer {
      background: transparent;
      font-size: 28px;
      gap: 25px;
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: transparent;
        gap: 5px;
        > p {
          background: #222;
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
        > small {
          background: transparent;
          text-transform: uppercase;
          font-size: 0.8rem;
        }
      }
    }
  }
}

#btn {
  width: 170px;
    height: 57px;
    transition: 0.5s;
    font-size: 17px;
    border: none;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.6px);
    -webkit-backdrop-filter: blur(15.6px);
    z-index: 10;
  }

#RegisterSectionBtn{
  button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #006ce9;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   button:hover {
    box-shadow: 0 0 10px #006ce9, 0 0 25px #001eff, 0 0 50px #006ce9;
    transition-delay: 0.5s;
   }
   
   button span {
    position: absolute;
   }
   
   button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #006ce9);
   }
   
   button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #006ce9);
   }
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #006ce9, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #001eff, 0 0 8px #001eff, 0 0 8px #006ce9;
    transition: 0.1s;
   }
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   
}
  @media screen and (max-width: 1024px) {
    #timer {
      > .timer-container {
        height: 200px;
        width: 450px;
        gap: 15px;
        > .timer-heading {
          font-size: 2rem;
        }
        > .timer {
          font-size: 26px;
          gap: 24px;
          > div {
            gap: 5px;
            > p {
              width: 40px;
              height: 40px;
            }
            > small {
              font-size: 1rem;
            }
          }
        }
      }
    }
}
  @media screen and (max-width: 480px) {
    #timer {
      > .timer-container {
        height: 180px;
        width: 300px;
        gap: 15px;
        > .timer-heading {
          font-size: 1.4rem;
        }
        > .timer {
          font-size: 18px;
          gap: 10px;
          > div {
            gap: 2px;
            > p {
              background: #222;
              width: 30px;
              height: 30px;
            }
            > small {
              background: transparent;
              text-transform: uppercase;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
}
  @media screen and (max-width: 375px) {
    #timer {
      > .timer-container {
        height: 150px;
        width: 250px;
        padding: 10px;
        gap: 15px;
        > .timer-heading {
          font-size: 1.2rem;
        }
        > .timer {
          font-size: 13px;
          gap: 10px;
          > div {
            gap: 2px;
            > p {
              background: #222;
              width: 30px;
              height: 30px;
            }
            > small {
              background: transparent;
              text-transform: uppercase;
              font-size: 0.7rem;
            }
          }
        }
      }
    }
}