.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  .ag-courses_item {
    overflow: hidden;
    border-radius: 8px;
    width: 400px;
    height: 250px;
  }
  .ag-courses-item_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
    height: 100%;
    width: 100%;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    // min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #fff;

    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
}
@media screen and (max-width: 1024px) {
    .container {
        .ag-courses_item {
          width: 350px;
          height: 240px;
        }
        .ag-courses-item_title {
          margin: 0 0 10px;
          font-size: 27px;
        }
      }
}
@media screen and (max-width: 912px) {
    .container {
        .ag-courses_item {
          width: 320px;
          height: 240px;
        }
        .ag-courses-item_title {
          font-size: 25px;
        }
      }
}
@media screen and (max-width: 560px) {
    .container {
        .ag-courses_item {
          width: 300px;
          height: 200px;
        }
        .ag-courses-item_title {
          font-size: 23px;
        }
      }
}
@media screen and (max-width: 450px) {
    .container {
        .ag-courses_item {
          width: 300px;
          height: 200px;
        }
        .ag-courses-item_title {
          font-size: 21px;
        }
      }
}
@media screen and (max-width: 390px) {
    .container {
        .ag-courses_item {
          width: 300px;
          height: 180px;
        }
        .ag-courses-item_title {
          font-size: 23px;
        }
      }
}
@media screen and (max-width: 280px) {
    .container {
        .ag-courses_item {
          width: 300px;
          height: 160px;
        }
        .ag-courses-item_title {
          font-size: 18px;
        }
        .ag-courses-item_bg {
          height: 118px;
          width: 118px;
        }
      }
}
