#Rules {
  background: linear-gradient(
    10.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgba(0, 76, 189,.7) 78.9%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
